name: generate-rss

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install Node dependencies
        run: |
          npm install playwright

      - name: Install Playwright Browsers (manual noble-safe method)
        run: |
          npx playwright install --with-deps chromium

      - name: Run generator
        run: node generate-rss.js

      - name: Commit feed.xml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add feed.xml

          if git diff --cached --quiet; then
            echo "No changes."
          else
            git commit -m "Update feed.xml"
            git push
          fi